
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Archivo+Black&family=Pacifico&family=Updock&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    background-color: rgb(192,192,203);
    font-family: 'Signika Negative', sans-serif;;
}
.container{
    width: 90%;
    height: 200vh;
    background-color: rgb(255,255,255);
    margin: auto;
    margin-top: 3%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding: 30px;
    margin: 5px;
    
}
.logo img{
    color: #000;
    letter-spacing: 2px;
    display: flex; 
    flex-direction: row; 
    margin: auto; 
}
span{
    color: rgb(67,160,145);
}
nav,a{
    color: rgb(10, 7, 24); 
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
}
.btn{
    background-color: rgb(101,131,222);
    color: rgb(247, 247, 247);
    border: 2px solid whitesmoke;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
}
.social{
    padding: 30px;
  
}
.fa-instagram{
    border-radius: 30px;
    background-color: rgb(253,191,89);
    font-size: 30px;
    padding: 15px; 
    margin: 20px; 
    box-shadow: 10px 10px 10px 10px rgb(203, 218, 215);
}
.fa-twitter{
    border-radius: 30px;
    background-color: rgb(67,160,145);
    font-size: 30px;
    padding: 15px;  
    box-shadow: 10px 10px 10px 10px rgb(203, 218, 215);
}
.image,img{
    margin-left: 40%;
    display: flex;
    position: absolute;   
}
h1,p{
    padding: 30px;
}
.btns a{
    padding: 20px;
    border-radius: 30px;
    background-color:  rgb(67,160,145);
    color: #fff;
    box-shadow: 10px 10px 10px 10px rgb(203, 218, 215);
}
.btns{
    padding: 30px;
    margin: 15px;
}

.boxez{
    display: flex;
    padding: 100px;
    text-align: center; 
    margin-top: -5%;
    
}
div.box6{
    background-color:  rgb(241, 234, 234);    
    font-weight: bold; 
    height: 25vh;
    width: 40%; 
    border: 2px solid rgb(192,192,203);   
}
div.box7{
    background-color: rgb(241, 234, 234);
    font-weight: bold;
    height: 25vh;
    width: 40%;
    border: 2px solid rgb(192,192,203);
}
div.box8{
   background-color: rgb(241, 234, 234);
   font-weight: bold;
   height: 25vh;
   width: 40%;
   border: 2px solid rgb(192,192,203);
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-left: -40%; 
    margin-top: 40%; 
    margin-bottom: -100px;
       
}
.middle{
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: auto;
}
.content2 ,h4, h2{
    text-align: center;
}
.boxes{
    display: flex;
    margin: auto;
    margin-left: 160px;
    margin-top: 100px;
}
div.box1{
    background-color: rgb(245,249,250);
    width: 300px;
    padding: 3%;
    color: #000;   
}
div.box2{
    background-color: rgb(67,160,145) ;
    width: 300px;
    padding: 3%; 
    color: #000;      
}
div.box3{
    background-color: rgb(235,245,253);
    width: 300px;
    padding: 3%;
    color: #000;            
}
.fa-circle-o.fa-circle-o{
    border-radius: 50px;
    padding: 15px;
}
.fa-laptop-code{
    border-radius: 50px;
    padding: 15px;   
}
.fa-crown{
    border-radius: 50px;
    padding: 20px;
}

.low{
    width: 100%;
    height: 80vh;
    margin: auto;
    background-color: rgb(254,254,254);
}
.content3,h3{
    margin-left: 320px;
    /* padding: 3%; */
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.content3 p{
    margin-left:300px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content3 span{
    border-radius: 50%;
    padding: 15px;
    color: #000;
    font-weight: bolder;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagez img{
    margin-left: -100px;
    margin-top: -400px;
    margin-left: 70px;
}
.last{
    width: 100%;
    height: 50vh;
    background-color: rgb(255,255,255);

}
.newsletter ,h5{
    text-align: center;
    margin-top: 10px;
    padding-top: 2%;
}
.buttons{
    text-align: center;
    margin-top: 3%;
}
.click a{
    padding: 2px;
    width: 30px;
    text-align: center;
}
.buttons a{
    border-radius: 30px;
    background-color: rgb(67,160,145);
    width: 80px;
    padding: 3%; 
    color: #fff;
    box-shadow: 10px 10px 10px 10px black;
}  
input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 15px; 
    margin-bottom: 16px; 
    background-color: rgb(255,248,248); 
  }
  input[type=submit] {
    background-color: rgb(67,160,145);
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 55%;
    width: 20%;
    box-shadow: 10px 10px 10px 10px black;
  }
  
  input[type=submit]:hover {
    background-color: rgb(157, 219, 230);
  }
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height:  90vh;
    margin-top: 3%;
  }
img{
    margin-top: -37%;
    margin-left: 15%; 
    outline: 50%;
    outline-color: rgb(80, 75, 75);
}
.picha{
    margin-left: 37%;
    margin-bottom: -5%;

}


